// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';






.flex-row {
    display: flex;
  }
  
  .flex-wrap {
    flex-wrap: wrap;
  }
  
  .flex-center {
    align-content: center;
    align-items: center;
  }
  
  .flex-column {
    align-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .column {
    align-content: center;
    flex-direction: column;
  }
  
  .flex-bottom {
    align-content: baseline;
    align-items: baseline;
  }
  
  .flex-1 {
    flex: 1;
  }
  
  .flex-2 {
    flex: 2;
  }
  
  .flex-3 {
    flex: 3;
  }
  
  .flex-4 {
    flex: 4;
  }
  
  .flex-5 {
    flex: 5;
  }